{% extends 'blog/base.html' %}
<!-- Extiendo la plantilla base para mantener la estructura -->

{% block title %}
Acerca de mí
<!-- Título de la página -->
{% endblock %}

{% block content %}
<h1>Acerca de mí</h1>
<p>¡Hola! Soy Leandro Agustín Molina, el creador de este blog. Tengo 28 años, finalizando la carrera Ingenieria Industrial y trabajando actualmente como Analista de Procesos.</p>
<p>
    Este proyecto fue desarrollado como parte del curso de Python en Coderhouse.
    Mi objetivo principal fue aprender y aplicar los fundamentos de este curso de Python para construir aplicaciones web funcionales y creecer profesionalmente
</p>
<p>
    Tecnologías utilizadas:
    <ul>
        <li>Python 3.13</li>
        <li>Django 5.1.4</li>
        <li>Pillow para manejo de imágenes</li>
        <li>HTML para la estructura de las páginas</li>
    </ul>
</p>
<p>Espero que disfrutes navegando por este blog basico como yo lo hice creandolo (con muchos dolores de cabeza)</p>
{% endblock %}
