<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Blogs</title>
</head>
<body>
    <h1>Lista de Publicaciones</h1>
    {% for blog in blogs %}
        <div>
            <h2><a href="{{ blog.id }}/">{{ blog.title }}</a></h2>
            <p>{{ blog.subtitle }}</p>
            <p><strong>Autor:</strong> {{ blog.author }}</p>
            <p><strong>Fecha:</strong> {{ blog.date }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No hay publicaciones disponibles.</p>
    {% endfor %}
</body>
</html>
